@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Protest+Riot&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  html{
    background-color: #fcf7e4;
  }

  .button{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #EFBC9B ;
    border-radius: 50px;
    text-align: center;
    color: #6d9288;
    margin-top: 50px;
    font-family:"Indie Flower", cursive;
    font-size: 40px;
    right: 50px;
    border-width: 10px;
    border-color: black;
  }

  .button:hover{
    background-color: #f3cdb3;
  }

  .button p{
    padding-top: 10px;
    line-height: 40px;
  }

  .duck{
    border-color:#9CAFAA ;
    width: 900px;
    height: 800px;
    top: 50px;
    left: 50px;
    position: absolute;
    border-style: dashed;
    display: flex;
  }

  
  .bing{
    display: flex;
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: none;
    left: 600px;
    top: 50px;
    background-color: transparent;
    align-items: center;
   
  }

  button img{
    width: 200px;
    height: auto;
  }

  .jiang{
    display: flex;
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: none;
    left: 400px;
    top: 200px;
    background-color: transparent;
    
  }


  .ya{
    display: flex;
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: none;
    top: 500px;
    left: 0px;
    background-color: transparent;
    
  }
  .cong{
    display: flex;
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: none;
    left: 200px;
    top: 350px;
    background-color: transparent;
  
    
  }

  .container{
   
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .instructions{
    width: 500px;
    height: 200px;
    position: absolute;
    top: 600px;
    left: 50px;

    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 48px;
  }

  button:disabled {
    cursor: not-allowed;
}

button{
  cursor: cell;
}




.hulu{
  border-color:#9CAFAA ;
  width: 600px;
  height: 800px;
  top: 50px;
  left: 950px;
  position: absolute;
  border-style: dashed;
}

.title{
  text-align: center;
  top: 50px;
  width: auto;
  height: 50px;
  
  position: relative;
  font-family: "Indie Flower", cursive;
  font-size: 48px;
}

.subtitle{
  text-align: center;
  top: 80px;
  width: auto;
  height: 80px;
  
  position: relative;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
}

.candy{
 
  width: auto;
  height: 500px;
  top: 80px;
  position: relative;
 
}

.candy img{
  transition:  transform 0.5s ease 
}

.candy img:hover{
  transform: scale(1.17)  rotate(20deg);

}